@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.menubar {
    border: 1px solid red;
    height: 70px;
    padding: 10px;
}

.item {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .2s;
}

.item:hover {
    color: #353535;
    background: #f5f5f5;
    transition: .2s;
}

.item-active {
    color: #272727;
    background: #f5f5f5;
    cursor: pointer;
    transition: .2s;
}

.item-active:hover {
    background: #cacaca;
    transition: .2s;
}


@media (max-width: 768px) {
    .menubar {
        background: red;
    }

}