@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("../img/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: start center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menubar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.menubar .logo-container img {
    width: 40px;
}

.menubar .menu-items {
    display: flex;
    gap: 40px;
}

.menu-items .item {
    color: #000;
    text-decoration: none;
    cursor: not-allowed;
}


/* Styling main container */
.form-logo-container {
    width: 60rem;
    height: 600px;
    padding: 20px;
    /* border: 1px solid #ff0000; */
    margin-top: 200px;
    display: flex;
    background: #fff;
}

.form-logo-container div {
    width: calc(30rem - 10px);
    height: auto;
    padding: 30px;
    /* border: 1px solid #ff0000; */
}

.form-logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Starting styles of login form */

.form-logo-container .form-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: #000;
}

.form-container .welcome {
    width: 100%;
    height: 70px;
    /* border: 1px solid #00ff00; */

}

.form-container .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.form-container .login-form #user-input,
.form-container .login-form #user-pass {
    width: 100%;
    padding: 10px 15px;
    background: none;
    outline: none;
    border: none;
    color: #000;
    border-bottom: #000 2px solid;
    transition: .5s;
}

.form-container .login-form #user-input:focus,
.form-container .login-form #user-pass:focus {
    border-bottom: #ffdb66 2px solid;
    transition: .5s;
}

.login-form .toggle {
    position: absolute;
    margin-top: 70px;
    margin-left: 370px;
    width: 20px;
}

.login-form #toggle-visibility {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
    z-index: 5;
    opacity: 0;
}

.login-form .toggle-icon {
    pointer-events: none;
    z-index: 4;
}

.login-form .redirect button {
    padding: 10px 50px;
    background: #ffffff;
    outline: none;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

.login-form .redirect button::before {
    content: "Entrar";
    position: absolute;
    margin-top: -11px;
    margin-left: -51px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 50px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    transition: .2s;
}
.login-form .redirect button:hover::before {
    transition: .2s;
    transform: scaleX(1);
}

.register-link {
    font-size: 14px;
}

.register-link a {
    color: #000;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: 1px solid underline;
}


/* runnin' catalogue styles */

.catalogue-container {
    width: 100%;
    margin-top: 300px;
    padding: 50px;
    background: #ffffff;
    /* border: 1px solid #ff0000; */
}

.catalogo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* border: 1px solid blue; */
    justify-content: center;
    gap: 60px;
}

.catalogo h1 {
    width: 100%;
    text-align: center;
    /* border: 1px solid #ff0000; */
    padding: 10px 0;

}

.catalogo .card {
    width: 250px;
    padding: 10px;
    /* border: 1px solid #ff0000; */
    display: flex column;
}

.catalogo .card .cover-book {
    width: 230px;
    height: 300px;
    object-fit: contain;
}

.card p {
    font-size: 14px;
    margin-top: 2px;
}

.card .request {
    margin-top: 10px;
}

.card a {
    padding: 7px 0;
    text-decoration: none;
    color: #fff;
    /* border: 1px solid #ff0000; */
}
.card .see-btn {
    outline: none;
    background: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.card .see-btn {
    background: #868686;
    padding: 5px 7px;
    transition: .4s;
}

.card .see-btn:hover {
    background: #292929;
    transition: .4s;
}

/* Footer styling */
.footer-container {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-container span {
    width: 100%;
    text-align: center;
}